<!DOCTYPE html>
<html>

<head>
	<title></title>
	<script src="/webix_8.4.0/codebase/webix.js"></script>
	<script src="/webix_8.4.0/codebase/locale.js"></script>
	<link rel="stylesheet" type="text/css" href="/webix_8.4.0/codebase/webix.css" />
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css?v=6.3.5"
		type="text/css" charset="utf-8">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

	<style type="text/css">
		.add {
			font-weight: bold;
		}

		.obligatorio {
			color: red;
		}

	</style>

	<script language="JavaScript">


		//variables
		let today = new Date()

		const loDere = [
			<%for (var i = 0; i < rows.length; i++) {%>
			{ 
				ID: 0,
				ORDEN: "<%=rows[i].ORDEN%>",
				SISTEMA: "<%=rows[i].SISTEMA%>",
				APARTADO: "<%=rows[i].APARTADO%>",
				GROUP: "<%=rows[i].GROUP%>",
				DESCRIP: `<%=rows[i].DESCRIP%>`,
			 },
			<%}%>
		]

		// let hour = today.toLocaleString('en-US', {
		// 	hour12: false,
		// });


		let hour = String(today.getHours()).padStart(2, '0') + ':' + String(today.getMinutes()).padStart(2, '0');





		// hour = hour.substr(12, 5)

		//webix-components

		var form_elements = [{
			view: "label", class: { "font-weight": "bold", "font-size": 14, "text-align": "center" }, align: "center", label: "GENERAR USUARIO NUEVO"
		},
		{
			cols: [
			{
				view: "text", id: "txtCodigo", name: "txtCodigo", labelPosition: "top", label: "C&oacute;digo", value: "", 
				 pattern:{ mask:"#######", allow:/[0-9]/g}
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtUser_id", name: "txtUser_id", labelPosition: "top", label: "Nombre de usuario", value: ""
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtPassword", name: "txtPassword", labelPosition: "top", label: "Password", value: ""
			},
			]
		},
		{
			cols: [
			{
				view: "text", id: "txtApellidos", name: "txtApellidos", labelPosition: "top", label: "Apellidos", value: ""
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtNombre", name: "txtNombre", labelPosition: "top", label: "Nombre", value: ""
			},
			]
		},
		{
			cols: [
			{view: "combo", id: "cmbServicio", name: "cmbServicio", labelPosition: "top", labelAlign: "left",
				label: "Servicio", editable: true,
				options: {
					fitMaster: false,
					keyPressTimeout: 500,
					width: 650,
					filter: function (item, value) {
						if (item.value.toString().toLowerCase().indexOf(value.toLowerCase()) != -1)
							return true;
						return false;
					},
					body: {
						
						template: "#value#",
						dataFeed: "/api/gen/cmb_depew?lnTipo=1"
					}
				},
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtCorreo", name: "txtCorreo", labelPosition: "top", label: "Correo", value: "", 
			},
			{
				view: "text", id: "txtDerecho", name: "txtDerecho", value: "", hidden:true,
			},
		]},
		{cols: [
			{
			view: "button", label: "Genera password", click: gene_pass, id:"btnPassword", name:"btnPassword", align: "right", width: 150
			},{},
			{
				view: "button", label: "Alta de usuario", click: guardar, id:"btnGuardar", align: "right", width: 150
			}
		]},
		{
			view: "datatable", id: "dtable", name: "dtable", select: "row", editaction: "dblclick", rowCss: "#css#", drag:true, 
			columns: [
				{ id: "ID", template:"{common.checkbox()}", header: ["Selec."], css: { 'text-align': 'center' }  },
				{ id: "APARTADO", header: ["Apartado", { content: "selectFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
				{ id: "GROUP", header: ["Groups", { content: "textFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
				{ id: "DESCRIP", header: ["Descripción", { content: "textFilter" }], width: 800, sort: "string", css: { 'text-align': 'left' } },
			],
			footer: true, scrollY: true, scrollX: true, resizeColumn: true, resizeRow: true, navigation: true,
			editable: true, 
			data:loDere,
			on: {
				onBeforeLoad: function () { this.showOverlay("Cargando..."); },
				onAfterLoad: function () {
					this.hideOverlay();
					//this.adjustRowHeight("nomb_serv", true);
					this.render();
				},
			},
		},
	]

		webix.ready(function () {
			webix.ui({
				view: "layout",
				responsive: true,
				rows: [{
					view: "scrollview",
					body: {
						rows: [{
							view: "form", id: "form_usua", name: "form_usua",
							elements: form_elements,
							rules: {
								"txtCodigo": webix.rules.isNotEmpty,
								"txtUser_id": webix.rules.isNotEmpty,
								"txtPassword": webix.rules.isNotEmpty,
								"txtApellidos": webix.rules.isNotEmpty,
								"txtNombre": webix.rules.isNotEmpty,
								"txtCorreo": webix.rules.isEmail,
							},
						}]
					}
				}]
			});

		});




		//functions

		function gene_pass(){
			
			let form = $$("form_usua").getValues()
			
			if (!form.txtCodigo){
				Swal.fire("Por lo menos tienes que agregara el código del usuario");
				return false;
			}
			console.log(form);
			webix.ajax()
			.post("/api/usua_nuevx", form)
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				/*
				Swal.fire({
					title:res.mensage, icon:res.error?"error":"success"
				}).then(()=>{
					if(!res.error){
						$$("form_usua").setValues(res.form);
					}
						
				})
				*/
				if(!res.error){
					$$("form_usua").setValues(res.form);
				}

			})

		}

		function guardar() {
		
			if (! $$("form_usua").validate()) {
				webix.message({ text: "Los campos que se marcan en rojo son obligatorios", type: "error", expire: 3000 })
				return 
			}

			let form = $$("form_usua").getValues()

			//const loFiltro = $$("dtable").getFilter();
			$$('dtable').filter();
			const tabla = $$("dtable");
			//$$("dtable").filter(loFiltro, "ID")

			let lcDere = ''
			tabla.data.each(function(obj) {
				console.log(obj.ID == 1)
				if (obj.ID == 1) {
					lcDere = lcDere + (lcDere.length == 0 ? '' : ',') + obj.GROUP
				}
			});
			console.log(form.txtDerecho);
			form.txtDerecho = lcDere;
			console.log(form.txtDerecho);
			
			webix.ajax()
			.post("/api/usua_nuevx2", form)
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				/*
				Swal.fire({
					title:res.mensage, icon:res.error?"error":"success"
				}).then(()=>{
					if(!res.error){
						$$("form_usua").setValues(res.form);
					}
						
				})
				*/
				if(!res.error){
					$$("form_usua").setValues(res.form);
				}

			})
		}

		
	</script>
</head>

<body>
</body>

</html>

