<%- include('partials/header'); %>

	<script language="JavaScript">


		//variables
		let today = new Date()

		const loDere = [
			<%for (var i = 0; i < rows.length; i++) {%>
			{ 
				ID: "<%=rows[i].ID%>",
				ORDEN: "<%=rows[i].ORDEN%>",
				SISTEMA: "<%=rows[i].SISTEMA%>",
				APARTADO: "<%=rows[i].APARTADO%>",
				GROUP: "<%=rows[i].GROUP%>",
				DESCRIP: `<%=rows[i].DESCRIP%>`,
				MODI_GROU: "<%=rows[i].MODI_GROU%>",
			},
			<%}%>
		]

		// let hour = today.toLocaleString('en-US', {
		// 	hour12: false,
		// });


		let hour = String(today.getHours()).padStart(2, '0') + ':' + String(today.getMinutes()).padStart(2, '0');





		// hour = hour.substr(12, 5)

		//webix-components

		var form_elements = [{
			view: "label", id:"lblTitulo", class: { "font-weight": "bold", "font-size": 14, "text-align": "center" }, align: "center", label: "GENERAR USUARIO NUEVO"
		},
		{
			cols: [
			{
				view: "text", id: "txtCodigo", name: "txtCodigo", labelPosition: "top", label: "C&oacute;digo", value: "", 
				pattern:{ mask:"#######", allow:/[0-9]/g},
			on:{
				"onBlur":function(){
					gene_pass();
				}

			}
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtUser_id", name: "txtUser_id", labelPosition: "top", label: "Nombre de usuario", value: ""
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtPassword", name: "txtPassword", labelPosition: "top", label: "Password", value: ""
			},
			]
		},
		{
			cols: [
			{
				view: "text", id: "txtApellidos", name: "txtApellidos", labelPosition: "top", label: "Apellidos", value: ""
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtNombre", name: "txtNombre", labelPosition: "top", label: "Nombre", value: ""
			},
			]
		},
		{
			cols: [
			{view: "combo", id: "cmbServicio", name: "cmbServicio", labelPosition: "top", labelAlign: "left",
				label: "Servicio", editable: true,
				options: {
					fitMaster: false,
					keyPressTimeout: 500,
					width: 650,
					filter: function (item, value) {
						if (item.value.toString().toLowerCase().indexOf(value.toLowerCase()) != -1)
							return true;
						return false;
					},
					body: {
						
						template: "#value#",
						dataFeed: "/api/gen/cmb_depew?lnTipo=1"
					}
				},
			},
			{ maxWidth: 15 },
			{
				view: "text", id: "txtCorreo", name: "txtCorreo", labelPosition: "top", label: "Correo", value: "", 
			},
			{
				view: "text", id: "txtDerecho", name: "txtDerecho", value: "", hidden:true,
			},
		]},
		{cols: [
			{
			view: "button", label: "Genera password", click: gene_pass, id:"btnPassword", name:"btnPassword", align: "right", width: 150
			},{maxWidth: 15},
			{
			view: "button", label: "Enviar correo al usuario", click: envi_corr, id:"btnCorreo", name:"btnCorreo", align: "right", width: 250, disabled:true, 
			},{},
			{
				view: "button", label: "Alta de usuario", click: guardar, id:"btnGuardar", align: "right", width: 250
			}
		]},
		{
			view: "datatable", id: "dtable", name: "dtable", select: "row", editaction: "dblclick", rowCss: "#css#", drag:true, 
			columns: [
				{ id: "ID", template:"{common.checkbox()}", header: ["Selec."], css: { 'text-align': 'center' }  },
				{ id: "APARTADO", header: ["Apartado", { content: "selectFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
				{ id: "GROUP", header: ["Groups", { content: "textFilter" }], width: 240, sort: "string", css: { 'text-align': 'left' } },
				{ id: "DESCRIP", header: ["Descripción", { content: "textFilter" }], width: 800, sort: "string", css: { 'text-align': 'left' } },
				{ id: "MODI_GROU", header: "", width: 50,
					template: function(obj) {
						// Si el dato 'adjunto' existe y no está vacío, mostramos el icono
						if (obj.MODI_GROU) {
							return "<span class='webix_icon wxi-search buscar_detalles' style='cursor:pointer;'></span>";
						}
						return ""; // Si no hay dato, queda vacía
					}
				}
			],
			footer: true, scrollY: true, scrollX: true, resizeColumn: true, resizeRow: true, navigation: true,
			editable: true, 
			data:loDere,
			on: {
				onBeforeLoad: function () { this.showOverlay("Cargando..."); },
				onAfterLoad: function () {
					this.hideOverlay();
					//this.adjustRowHeight("nomb_serv", true);
					this.render();
				},
				
			},
			onClick: {
				// Esta función se dispara solo cuando haces clic en la clase CSS que definimos arriba
				"buscar_detalles": function(ev, id) {
					var item = this.getItem(id); // Obtenemos el registro completo
					
					// Aquí pones la lógica de lo que quieras que haga la lupa
					webix.message("Buscando detalles de: " + item.MODI_GROU);
					
					// Ejemplo: Abrir una ventana o cargar datos en un formulario
					//abrirVentanaDetalles(item.MODI_GROU);
					showWindow(item.MODI_GROU, item.DESCRIP);
					
					return false; // Evita que se disparen otros eventos de la fila
				}
			}
		},
	]

		webix.ready(function () {
			webix.ui({
				view: "layout",
				responsive: true,
				rows: [{
					view: "scrollview",
					body: {
						rows: [{
							view: "form", id: "form_usua", name: "form_usua",
							elements: form_elements,
							rules: {
								"txtCodigo": webix.rules.isNotEmpty,
								"txtUser_id": webix.rules.isNotEmpty,
								"txtPassword": webix.rules.isNotEmpty,
								"txtApellidos": webix.rules.isNotEmpty,
								"txtNombre": webix.rules.isNotEmpty,
								"txtCorreo": webix.rules.isEmail,
							},
						}]
					}
				}]
			});

		});




		//functions

		function gene_pass(){
			
			const form = $$("form_usua").getValues()
			
			if (!form.txtCodigo){
				Swal.fire("Por lo menos tienes que agregara el código del usuario");
				return false;
			}
			//console.log(form);
			webix.ajax()
			.post("/api/usua_nuevx", form)
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				/*
				Swal.fire({
					title:res.mensage, icon:res.error?"error":"success"
				}).then(()=>{
					if(!res.error){
						$$("form_usua").setValues(res.form);
					}
						
				})
				*/
				if(!res.error){						
					if (!res.nuevo){						//si encontro el usuario en passfile
						
						$$("cmbServicio").getPopup().getList().clearAll();
						
						$$("cmbServicio").getPopup().getList().add({
						id: res.form.txtServicio, 
						value: res.form.txtValue 
						});

						$$('dtable').filter();
						const tabla = $$("dtable");

						let lcDere = ',' + res.form.txtDerecho + ','
						let lcBusca = ''
						//console.log(lcDere)
						tabla.data.each(function(obj) {
							lcBusca = ',' + obj.GROUP + ','
							if(lcDere.includes(lcBusca)){
								obj.ID = 1;
								//console.log(lcBusca)
							}
							else 
							{
								obj.ID = 0;
							}
							tabla.updateItem(obj.id, obj);
						});
						tabla.refresh();
						//console.log(tabla)
						$$("btnGuardar").define("label", "Modificación de usuario");
						$$("btnGuardar").refresh();
						$$("lblTitulo").define("label", "MODIFICAR USUARIO: "+ res.form.txtNombre);
						$$("lblTitulo").refresh();
						$$("btnCorreo").define("disabled", false);
						$$("btnCorreo").refresh();
						$$("txtUser_id").define("readonly", true);
						$$("txtUser_id").refresh();
						
						

						

					}
					else {
						$$("btnGuardar").define("label", "Alta de usuario");
						$$("btnGuardar").refresh();
						$$("lblTitulo").define("label", "GENERAR USUARIO NUEVO");
						$$("lblTitulo").refresh();
						$$("btnCorreo").define("disabled", true);
						$$("btnCorreo").refresh();
						$$("txtUser_id").define("readonly", false);
						$$("txtUser_id").refresh();
					}
					$$("form_usua").setValues(res.form);		//llena los derechos
					
				}

			})

		}

		function envi_corr(){

			$$("form_usua").disable(); 

			webix.ajax()
			.post("/api/usua_nuevx3", {txtUser_id:$$("txtUser_id").getValue()})
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				$$("form_usua").enable(); 

			});
		}

		function guardar() {
		
			if (! $$("form_usua").validate()) {
				webix.message({ text: "Los campos que se marcan en rojo son obligatorios", type: "error", expire: 3000 })
				return 
			}

			let form = $$("form_usua").getValues()

			//const loFiltro = $$("dtable").getFilter();
			$$('dtable').filter();
			const tabla = $$("dtable");
			//$$("dtable").filter(loFiltro, "ID")

			let lcDere = ''
			tabla.data.each(function(obj) {
				if (obj.ID == 1) {
					lcDere = lcDere + (lcDere.length == 0 ? '' : ',') + obj.GROUP
				}
			});
			//console.log(form.txtDerecho);
			form.txtDerecho = lcDere;
			//console.log(form.txtDerecho);
			
			webix.ajax()
			.post("/api/usua_nuevx2", form)
			.then(function (data) {
				$$("btnGuardar").enable();
				let res = data.json()
				//console.log(res)
				webix.message(res.mensage);
				/*
				Swal.fire({
					title:res.mensage, icon:res.error?"error":"success"
				}).then(()=>{
					if(!res.error){
						$$("form_usua").setValues(res.form);
					}
						
				})
				*/
				if(!res.error){
					$$("form_usua").setValues(res.form);
				}

			})
		}

	let xx = 1;

	function showWindow(pagina, nombreHeader) {
		
		xx++;
		var window = webix.ui({
			view: "window",
			id: "my_win" + xx,
			left: 150,
			top: 20,
			width: 920,
			height: 450,
			head: {
				view: "toolbar", id: "toolbar" + xx,
				cols: [
					{ view: "label", label: nombreHeader, align: 'center' },
					{ view: "icon", icon: 'mdi mdi-close', click: "$$('my_win" + xx + "').close();" }
				]
			},
			close: true, 
			body: {
				view: "iframe",
				id: "frame-body" + xx,
				src: "/" + pagina + "?winId=my_win" + xx
			}
		}).show();
	}
	</script>
</head>

<body>
</body>

</html>

