<%- include('../partials/header'); %>


<body>
	<div id="div_atencion" style="background-color: #F4F4F4;"></div>
	<script>
		const validaFecha = (text, format)=>{
			return moment(text, format,true).isValid();
		}
		webix.ready(function(){

			webix.ui.datafilter.rowCount = webix.extend({
				refresh: function (master, node, value) {
					node.firstChild.innerHTML = "Total: " + master.count();
				}
			}, webix.ui.datafilter.summColumn)


			var ui = webix.ui({
				view: "scrollview",
				id: "verses",
				scroll: "y",
				body: {
					margin: 30, rows: [
						{
							rows: [
								{
									view: "form", id: "form_busc", name: "form_busc", 
									rows: [
										{
											cols: [
                                                { view: "combo", id: "cmbSoli", name: "cmbSoli",
                                                    //value: "<% // Response.Write(IIF(pnId_cent = 4, 'DG HCG', ALLTRIM(cSoli.cve)))%>",
                                                    label: "Oficio de",
                                                    value:"<%=rows[0].cve%>",
                                                    labelPosition:"top",
                                                    required: true, invalidMessage: "Este campo no puede ir vacio",
                                                    options: {
                                                        fitMaster: false,
                                                        width: 500,
                                                        body: {
                                                            data: [
                                                                <%for (var i = 0; i < rows.length; i++) {%>
                                                                { id: "<%= rows[i].cve%>", value: "(<%=rows[i].cve%>) <%=rows[i].depen%>" },
                                                                <%}%>
                                                            ]
                                                        }
                                                    },
                                                },
												{ maxWidth: 15 },
                                                { view: "text", id: "txtControl", name: "txtControl", label:"Número de control", labelPosition:"top", width: 200, pattern:{ mask:"#######", allow:/[0-9]/g}},
												{ maxWidth: 15 },
												{ view: "text", id: "txtNOficio", name: "txtNOficio", label:"Número de oficio", labelPosition:"top", width: 200},
												{ maxWidth: 15 },

                                                {view: "select", label: "Año", id: "cmbAnio", name: "cmbAnio", value: <%=new Date().getFullYear()%>, width: 100,
                                                    labelPosition: "top", labelAlign: "left", options: [
                                                        <%
                                                        for (var i = new Date().getFullYear(); i >= 2021; i--){%>
                                                            { id: <%=i%>, value: "<%=i%>" },
                                                        <%
                                                        }
                                                        %>
                                                    ],
                                                },
											]
										},
                                        {
											cols: [
												{ view: "datepicker", id: "txtFec_ini", name: "txtFec_ini", label:"Fecha incio", labelPosition:"top", width: 200},
												{ maxWidth: 15 },
												{ view: "datepicker", id: "txtFec_fin", name: "txtFec_fin", label:"Fecha fin", labelPosition:"top", width: 200},
												{ maxWidth: 15 },
                                                { view: "text", id: "txtDepen", name: "txtDepen", label:"Dependencia", labelPosition:"top"},
											]
										},
                                        {
											cols: [
												{ view: "textarea", id: "txtAsunto", name: "txtAsunto", label:"Asunto", labelPosition:"top", height:100},
												{ maxWidth: 15 },
												{ view: "textarea", id: "txtNota", name: "txtNota", label:"Nota", labelPosition:"top", height:100},
												{ maxWidth: 15 },
                                                { view: "textarea", id: "txtAnexo", name: "txtAnexo", label:"Anexo", labelPosition:"top", height:100},
                                                
											]
										},
										{
											cols: [
                                                { view: "text", id: "txtRemitente", name: "txtRemitente", label:"Remitente", labelPosition:"top"},
                                                { maxWidth: 15 },
                                                {
													view: "select", label: "Estatus", id: "cmbStatus", name: "cmbStatus", value: -1, width: 200,
													labelPosition: "top", labelAlign: "left", options: [
                                                        { id:-1, value: "TODOS" },
                                                        { id: 1, value: "Proceso" },
														{ id: 8, value: "Aplicado" },
														{ id: 9, value: "Cancelado" },	
														
													]
												},
											]
										},
										{
											cols: [
												{
													view: "button", type: "icon", icon: "mdi mdi-magnify", label: "Buscar", width: 170,
													on: {
														onItemClick: function () { genera(); }
													}
												},
											]
										},
										{
                                            view:"datatable", id:"dtable", select:true, footer:true, editable:true, hidden:false, minHeight:500, scroll:true, tooltip: true,
                                            resizeColumn: true,  navigation: true, resizeRow:true, css:"celda_compacta", 
                                            rightSplit:1, leftSplit:3,
                                            scheme: {
                                                $init: function (obj) {
                                                    obj.fecha = (obj.fecha ? (obj.fecha == '01/01/1900'?'': convertDate(obj.fecha) ) : '');
                                                }
                                            },

                                            columns:[
                                            {
                                                id: "detalle", width: 40,sort: "int", css: { 'text-align': 'center' }, 
                                                header: [{text:"",css:"my_style"}, {text:""}],
                                                /* template:(obj)=>{
                                                    return `
                                                        <a href="#" onClick="window.parent.deta_ingr(${obj.idoficio});">
                                                            <i style='font-size:26px;color:#2b96cc;' class='fa-solid fa-magnifying-glass'></i>
                                                        </a>`
                                                } */
											   template: (obj) => {
													// Solo el icono con una clase para identificar el clic
													return `<i style='font-size:26px;color:#2b96cc;cursor:pointer;' 
															class='fa-solid fa-magnifying-glass btn_ver_detalle'></i>`;
												},
                                            },
                                            {
                                                id: "rank", width: 70,sort: "int", css: { 'text-align': 'center' }, 
                                                header: [{text:"#",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },	
											{
                                                id: "nume_cont", width: 80,sort: "int", css: { 'text-align': 'left' }, hidden:false,
                                                header: [{text:"Control",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },
                                            {
                                                id: "descrip", width: 150,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Oficio",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },	
                                            {
                                                id: "fecha", header: ["Fecha", { content: "textFilter", compare:dateStringFilter }], sort: "date", width: 100, format:webix.Date.dateToStr("%d/%m/%Y")
                                            },	
                                            {
                                                id: "hora", header: ["Hora", { content: "textFilter"}], width: 70,
                                            },	
                                            {
                                                id: "centros", width: 200,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Dependencia",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },		
                                            {
                                                id: "asunto", 
                                                $height:160, 
                                                fillspace:true, minWidth:300,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Asunto",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                    
                                                }],
                                            },		
                                            {
                                                id: "nota", width: 200,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Nota",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },		
                                            {
                                                id: "nomb_remi", width: 200,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Genero",css:"my_style"}, {
                                                    content: "textFilter", placeholder:"Filtrar",
                                                }],
                                            },		
                                            {
                                                id: "stat_desc", width: 100,sort: "string", css: { 'text-align': 'left' }, 
                                                header: [{text:"Status",css:"my_style"}, {
                                                    content: "selectFilter", placeholder:"Filtrar",
                                                }],
                                            },
                                            ],
											onClick: {
												// Esta función se activa cuando se hace clic en cualquier elemento con esta clase
												"btn_ver_detalle": function(ev, id) {
													// 'id' es el ID de la fila en Webix
													const obj = this.getItem(id); 
													
													// Ejecutamos tu función original de forma segura
													if (window.parent && typeof window.parent.deta_sali === "function") {
														//window.parent.deta_sali(obj.cve, obj.idoficio, obj.anio, obj.id_iden, '/op/op_reof0');
														window.parent.deta_ingr(obj.idoficio);
													}
													
													// Evita comportamientos extraños del navegador
													return false; 
												}
											}
                                        }
									]
								}
							]
						}
					]
				}
			});
			webix.ui({
				view: "window", id: "mues_plan",
				move: true, left: 150, top: 0, width: 900, height: 550, resize: true,
				head: {
					view: "toolbar", id: "plantilla",
					cols: [
						{ view: "label", label: "Plantillas" },
						{ view: "icon", icon: 'mdi mdi-close', click: "$$('mues_plan').hide();" }
					]
				},
				body: {
					view: "iframe",
					src: "/op/op_plan"
				}
			});

/* 			mues_soli();
			obtenerSeccion()
			var listServicio = $$("cmbServicio").getPopup().getList();
			listServicio.attachEvent("onAfterSelect", function (id) {
			  dirigido(id, 9)
			});
 */

		});

/* 		function genera() {
            let form = $$("form_busc").getValues()

            console.log(form)
			webix.extend($$("dtable"), webix.ProgressBar)
            $$("dtable").clearAll()
            $$("dtable").load("/api/op/busc_oficx?loForm=" + JSON.stringify(form))
		} */

		function genera() {
		let form = $$("form_busc").getValues();
		let dtable = $$("dtable");

		// Activamos la barra de progreso
		webix.extend(dtable, webix.ProgressBar);
		dtable.showProgress({ type: "icon" });
		dtable.clearAll();

		// Usamos AJAX con POST para mayor seguridad y capacidad
		webix.ajax().post("/api/op/busc_oficx", form).then(function(data) {
			// Parseamos los resultados a la tabla
			dtable.parse(data.json());
			dtable.hideProgress();
		}).fail(function(err) {
			dtable.hideProgress();
			webix.message({ type: "error", text: "Error al realizar la búsqueda" });
		});
	}

	</script>
</body>


</html>